// Import scss settings
@import 'settings';

// Import Vanilla
@import 'vanilla-framework/scss/build';

// Custom styles
.p-navigation__banner {
  background-color: $ubuntu-orange;
}

.p-navigation__logo {
  font-weight: 400;
  margin-right: $sph-inner--large;

  @media only screen and (max-width: $breakpoint-medium) {
    margin-bottom: -12px;
    margin-top: 0;
    max-height: 3rem;
  }
}

.p-navigation__row,
.p-navigation .row {
  @media only screen and (min-width: $breakpoint-medium) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.global-nav .global-nav__header-logo-anchor {
  padding: 0.6875rem 1rem !important;
}

.p-navigation__toggle {
  &--open,
  &--close {
    font-weight: 400;
  }
}

.u-no-margin--bottom-small {
  @media only screen and (min-width: $breakpoint-medium) {
    margin-bottom: 0 !important;
  }
}

.p-code-numbered__line {
  padding: .5rem 1rem 0 4rem;

  &::before {
    content: "$";
    width: 3rem;
  }
}

// XXX Remove the top border on a Matrix on small screesn
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2517

.p-matrix {
  &__item:first-of-type {
    border-top: 0;
  }
}
