@mixin dqlite-l-docs {
  $sidebar-width: 18rem;

  .has-divider {
    @media screen and (min-width: $breakpoint-medium) {
      border-right: 1px solid $color-mid-light;
    }
  }

  .l-docs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $grid-max-width;
  }

  .l-docs-sidebar {
    border-right: $border;
    flex: 0 0 $sidebar-width;

    @media only screen and (max-width: $breakpoint-navigation-threshold) {
      border-right: 0;
      flex: auto;
      height: inherit;
      overflow: hidden;
      position: static;
      width: 100%;
    }
  }
}
