// Import scss settings
@import "settings";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Import Vanilla
@import "vanilla-framework";

@include vanilla;

.skip-content {
  background-color: $color-x-light;
}

.u-no-margin--bottom-small {
  @media only screen and (min-width: $breakpoint-large) {
    margin-bottom: 0 !important;
  }
}
