// Import scss settings
@import "settings";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Import Vanilla
@import "vanilla-framework";
@include vanilla;

.skip-content {
  background-color: $color-x-light;
}

.u-no-margin--bottom-small {
  @media only screen and (min-width: $breakpoint-large) {
    margin-bottom: 0 !important;
  }
}

// TODO: to be removed when properly fixed on Vanilla side
// https://github.com/canonical/vanilla-framework/issues/4898
@media screen and (min-width: $breakpoint-navigation-threshold) {
  // align navigation items with grid in docs layout
  .l-docs__subgrid .p-navigation__row {
    padding-left: 0.5rem;
  }
}

body:not(.docs) {
  .p-navigation__banner {
    padding-left: 0;
  }
}