<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta https-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

  <title>
    {% block title %}Dqlite - High-Availability SQLite{% endblock %}
  </title>

  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="preconnect" href="https://www.gstatic.com">

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MV7Z9M3');</script>
  <!-- End Google Tag Manager -->

  <!-- GitHub buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>


  <link rel="shortcut icon" type="image/png" href="https://assets.ubuntu.com/v1/f0c0fc0a-dqlite-favicon.png">

  <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>

  <meta name="description" content="{% block meta_description %}Dqlite is a fast, embedded, persistent SQL database with Raft consensus that is perfect for fault-tolerant IoT and Edge devices.{% endblock %}">

  <meta name="theme-color" content="#E95420">
  <meta name="twitter:account_id" content="4503599627481511">
  <meta name="twitter:site" content="@ubuntu">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://dqlite.io">
  <meta property="og:site_name" content="dqlite.io">

  {% if self.title() %}
  <meta name="twitter:title" content="{{ self.title() }} | Dqlite">
  <meta property="og:title" content="{{ self.title() }} | Dqlite">
  {% endif %}

  {% if self.meta_description() %}
  <meta name="twitter:description" content="{{ self.meta_description() }}">
  <meta property="og:description" content="{{ self.meta_description() }}">
  {% endif %}

  <link rel="stylesheet" type="text/css" media="screen" href="{{ versioned_static('css/styles.css') }}" />
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MV7Z9M3" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  {% include "partial/_navigation.html" %}

  <div id="main-content">
    {% block content %}{% endblock content %}
  </div>

  {% include "partial/_footer.html" %}

  <script src="{{ versioned_static('js/dist/global-nav.js') }}"></script>
  <script src="{{ versioned_static('js/dist/base.js') }}"></script>
  <script>
    canonicalGlobalNav.createNav({
      maxWidth: '72rem',
    });
    cpNs.cookiePolicy();
  </script>

  {% block page_scripts %}{% endblock page_scripts %}
</body>

</html>
