---
layout: base
---

  <div class="l-docs">
    <aside class="l-docs-sidebar" id="navigation">
      <i class="p-sidenav__toggle p-icon--menu u-hide u-show--small"></i>
      <nav class="p-sidenav__body u-hide--small">
        <ul>
          {% include _docs-navigation.html %}
        </ul>
      </nav>
    </aside>
    <main class="l-docs-content" id="main-content">
      <div class="p-strip--light is-shallow l-docs-title">
        <div class="l-docs-row">
          <h1 class="u-no-margin--bottom l-docs-title__heading">{{ page.title }}</h1>
        </div>
      </div>

      <div class="p-strip is-shallow">
        <div class="l-docs-row">
            {{ content }}
          </ul>
        </div>
      </div>
    </main>
  </div>
  <hr />
  <script src="/js/highlight.pack.js"></script>
  <script>
    // Set up highlightjs
    hljs.initHighlightingOnLoad();

    document.addEventListener("DOMContentLoaded", function(event) {
      // Toggle mobile sidebar nav
      var toggle = document.querySelector('.p-sidenav__toggle');
      var sidebarContent = document.querySelector('.p-sidenav__body');
      toggle.addEventListener('click', function(e) {
        toggle.classList.toggle('p-icon--menu');
        toggle.classList.toggle('p-icon--close');
        sidebarContent.classList.toggle('u-hide--small');
      });
    });

    // Add active links to active nav item and scroll to section
    var sidebar = document.querySelector(".l-docs-sidebar");
    document.querySelectorAll('.p-sidenav__body ul a').forEach(function(anchor) {
      console.log(anchor.pathname + ' === ' + location.pathname);
      if (anchor.pathname === location.pathname) {
        anchor.classList.add('is-active');
        var section = anchor.closest("ul");
        sidebar.scrollTo(0, section.offsetTop - 40);
      }
    });
  </script>
