<footer class="p-strip--light">
  <div class="row">
    <div class="col-12">
      <p>&copy; {{ now("%Y") }} Canonical Ltd.</p>
      <nav>
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item">
            <a aria-label="External link to the Ubuntu legal information page" href="http://www.ubuntu.com/legal">
              Legal information
            </a>
          </li>
          <li class="p-inline-list__item">
            <a aria-label="External link to report a bug on this site" href="https://github.com/canonical-web-and-design/dqlite.io/issues/new">
              Report a bug on this site
            </a>
          </li>
          <li class="p-inline-list__item">
            <a href="" class="js-revoke-cookie-manager">Manage your tracker settings</a>
          </li>
        </ul>
        <span class="u-off-screen">
          <a href="#">Go to the top of the page</a>
        </span>
      </nav>
    </div>
  </div>
</footer>
