<header id="navigation" class="p-navigation">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo u-vertically-center">
        <a class="p-navigation__link" href="/" style="color:white;" aria-label="Back to homepage">
          Dqlite
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav">
      <span class="u-off-screen">
        <a href="#main-content" class="p-link--inverted">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li class="p-navigation__link {% if request.path in ['/docs', '/docs/faq', '/docs/protocol'] %}is-selected{% endif %}" role="menuitem">
          <a href="/docs">Docs</a>
        </li>
        <li class="p-navigation__link" role="menuitem">
          <a href="https://discourse.dqlite.io">Discourse</a>
        </li>
        <li class="p-navigation__link" role="menuitem">
          <a class="p-link--external" href="https://github.com/canonical/dqlite">Code</a>
        </li>
        <li class="p-navigation__link" role="menuitem">
          <a class="p-link--external" href="https://github.com/canonical/dqlite/issues">Bugs</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
